*               text=auto
*.sh            text        eol=lf
*.zsh           text        eol=lf
*.ps1           text        eol=lf
*.yml           text        eol=lf
*.md            text        eol=lf
*.json          text        eol=lf
*nanorc         text        eol=lf
Dockerfile*     text        eol=lf
LICENSE         text        eol=lf
chsh            text        eol=lf
.editorconfig   text        eol=lf
.shellcheckrc   text        eol=lf
.dockerignore   text        eol=lf
